.googleantidox-hidden-directions {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    height: 100%; 
    text-align: center; 
    gap: 10px;
}

.googleantidox-hidden-directions .main-text {
    font-weight: bold;
} 

.googleantidox-hidden-directions .small-text {
    font-size: 80%;
}
