body {
    background: #444547;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

main {
    margin: 0 auto;
    max-width: 1000px;
}

h1 {
    text-align: center;
}

a {
    color: cyan;
    transition: 0.1s;
}

a:hover {
    opacity: 0.8;
}

section {
    background: #393a3b;
    padding: 10px;
    margin-bottom: 10px;
}

label:has(input[type="radio"]) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    min-height: 2em;
    font-size: 100%;
    background: #2c2d2e;
    padding: 5px;
    flex: 1;
    transition: 0.1s;
    cursor: pointer;
    opacity: 0.8;
}

@media screen and (max-width: 500px){
    label:has(input[type="radio"]) {
        font-size: 125%;
    }
}

label:has(input[type="radio"]):hover {
    opacity: 1;
}

label:has(input[type="radio"]:checked) {
    background: #495e75;
}

label:has(input[type="radio"]:disabled) {
    opacity: 0.5;
    cursor: unset;
}

input[type="radio"] {
    margin: 0;
    font-size: 100%;
    appearance: none;
    background: transparent;
    width: 0.9em;
    height: 0.9em;
    border-radius: 100%;
    border: 2px solid white;
    transition: 0.1s;
}

input[type="radio"]:checked {
    background: rgb(100, 100, 255);
}

.radio-group {
    display: flex;
    gap: 1px;
}