body {
    background: #444547;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

main {
    margin: 0 auto;
    max-width: 1000px;
}

h1 {
    text-align: center;
}

a {
    color: cyan;
    transition: 0.1s;
}

a:hover {
    opacity: 0.8;
}

section {
    background: #393a3b;
    padding: 10px;
    margin-bottom: 10px;
}


label:has(input[type="radio"]) {
    background: #2c2d2e;
    display: inline-block;
    padding: 5px;
    flex: 1;
    transition: 0.1s;
    cursor: pointer;
    opacity: 0.8;
}

label:has(input[type="radio"]):hover {
    opacity: 1;
}

label:has(input[type="radio"]:checked) {
    background: #495e75;
}

label:has(input[type="radio"]:disabled) {
    opacity: 0.5;
}

input[type="radio"] {
    appearance: none;
    background: transparent;
    width: 1em;
    height: 1em;
    border-radius: 100%;
    border: 2px solid white;
    transition: 0.1s;
}

input[type="radio"]:checked {
    background: rgb(100, 100, 255);
}

.radio-group {
    display: flex;
    gap: 1px;
}